[2015-01-09 17:15] zewa666 opened #1 "Injected Element returns wrong parent"
I've tried to inject the Element to the Welcome-Page of the Skeleton-App in order to get the parent element.

[code]
but instead of route-view it returns the body tag

[2015-01-10 05:44] EisenbergEffect commented on #1
Ok, unfortunately we won't be able to fix this. The reason is that there is no view at the time that the Welcome view model is instantiated, so it can't be pushed in. I think that's ok because you shouldn't be interacting with an html element directly in your view model. That's something you do in a behavior. Fortunately, it's very easy and you can export a behavior side-by-side with your view mod

[2015-01-10 05:44] #1 closed

[2015-01-10 15:24] tyrsius commented on #1
@EisenbergEffect In durandal you could get the view in the viewmodel in the `attached` event. Is a similiar event not available in Aurelia?

I know mucking with the view in the viewmodel is a bad practice, but losing the option seems strange. Sometimes we need to hack things quickly.

[2015-01-10 16:19] EisenbergEffect commented on #1
So, there's no way to get the view from the constructor due to a dependency resolution issue when routing. We had to do this in order to solve a number of problems..some of which couldn't be fixed in Durandal 2.x. You can't get it from the attached callback either since I tried to make that act like the Web Components model. Also, with Aurelia, you don't have to have a single root element in your

[2015-01-10 16:21] tyrsius commented on #1
@EisenbergEffect I think that looks really good, but when does that property become available?

[2015-01-10 16:22] EisenbergEffect commented on #1
It becomes available in the `bind` callback. The `attached` callback happens later, so it's available there as well.

[2015-01-10 16:23] tyrsius commented on #1
@EisenbergEffect The only concern I have is with the inconsistent behavior between elements and custom elements. I see the value in getting the custom element class, but perhaps that should be bound with a different attribute so that `ref` always returns the element reference.

[2015-01-10 16:25] EisenbergEffect commented on #1
Summary of callbacks:

[code]

If you are being managed by a router,  you also get: `canActivate`, `activate`, `canDeactivate` and `deactivate`.

[2015-01-10 16:25] EisenbergEffect commented on #1
@tyrsius Recommendation?

[2015-01-10 16:25] zewa666 commented on #1
Tried it, really liked it, although I'd prefer the second syntax ref="..."

[2015-01-10 16:26] tyrsius commented on #1
@EisenbergEffect perhaps `model`

[2015-01-10 16:28] tyrsius commented on #1
@EisenbergEffect or `viewmodel-ref`

[2015-01-10 16:30] zewa666 commented on #1
sry maybe it sounds stupid, but why not return both? So ref would return an object with property Element and Model or call it whatever you want.

[2015-01-10 16:31] EisenbergEffect commented on #1
What about `ref="name"` for the element ref and `ref="name:Behavior"` for the behavior instance ref?

[2015-01-10 16:32] tyrsius commented on #1
what would `model` be for non-custom elements? `null`?
Are the classes backing custom elements commonly called `Behavior`? I thought Behavior referred to Atttached Behavior's specifically.

[2015-01-10 16:33] EisenbergEffect commented on #1
In Aurelia CustomElement, AttachedBehavior and TemplateController all inherit from Behavior.

[2015-01-10 16:35] zewa666 commented on #1
@EisenbergEffect to make it more consistent how about
```ref="name:Element"``` and ```ref="name:Behavior"``` and ```ref="name"``` both, in case there is no Behavior then null/undefined

[2015-01-10 16:36] tyrsius commented on #1
I'll have to adjust to that. I'd still prefer a separate attribute, like `behavior-ref="name"` to overloading `ref` with a new syntax.

[2015-01-10 16:38] tyrsius commented on #1
Especially considered the case where I might want both, then the overloaded syntax gets in the way.
I also prefer two attributes to `ref="name"` returning both.

[2015-01-10 16:44] EisenbergEffect commented on #1
I don't want it to return both. What about `ref` for element and `ref.view-model` to get the custom element's view-model? I thin behavior might be misleading because you can't actually get AttachedBehaviors this way since there might be more than one on an element.

[2015-01-10 16:49] tyrsius commented on #1
That makes sense, I like it.

[2015-01-10 16:52] EisenbergEffect commented on #1
I think so too. It's similar in concept to the way the other bindings work. So ref looks like a normal attribute and then we use .view-model to indicate some special processing.

[2015-01-10 20:19] EisenbergEffect commented on #1
Not sure if it is obvious, but with this feature you can do things like this:

[code]

I've got a scenario right now where I created a custom menu popup element but it needs a reference to the html element that should trigger the popup to display. So, I use this technique to pass the reference to the custom element. Looks like this:

[code]

See how the button has the ref on it and then the custom

[2015-01-10 23:28] tyrsius commented on #1
@EisenbergEffect is that happening because the `ref="actionTrigger"` creates the property on the viewmodel? That's so slick, I love it.

[2015-01-10 23:53] EisenbergEffect commented on #1
Yes, it basically sets it as a property with that name on the view-model. So, it's a way for you to get access to it if needed in your VM but once it's in the execution context, you can then bind to it in the view as well.

[2015-03-08 15:39] mattduffield opened #3 "Problem with parameterized routes and getViewStrategy"
I am using parameterized routes and the getViewStrategy get called the first time but any subsequent change to the route with a new parameter and the getViewStrategy is not called.  I can see that the route has indeed changed and activate method gets called every time.

[2015-03-17 06:07] EisenbergEffect commented on #3
You will need to force the full component replace in this situation. To do that, you need to add the `determineActivationStrategy` callback to your view model:

[code]

[2015-03-17 06:07] #3 closed

[2015-08-18 23:14] jods4 opened #8 "Swap timing"
I think the way the swap is done in `<router-view>` is not ideal for perceived speed and loaders / animation purposes.

The main steps of nav. lifecycle are (in order):
1. `canDeactivate()`, which can veto
2. `canActivate()`, which can veto
3. `deactivate()`, no turning back from here
4. `activate()`.
5. swap the views.

`activate()` is a great place to load data for the next screen. It ensures th

[2015-08-19 03:21] EisenbergEffect commented on #8
I like the sound of this. @bryanrsmith Please read above and lets start a discussion about this. I'd like to know what you think.

[2015-08-20 13:28] laurentiustamate94 opened #9 "Add d.ts generation"
It would be great if the templating-router repository could export its own d.ts file by using the babel-dts-generator plugin.

[2015-08-31 20:36] thomas-jakemeyn opened #11 "getViewStrategy() is not invoked when model data change"
As stated in the Aurelia documentation, the view to be associated with a view model can be determined dynamically by implementing the method *getViewStrategy* in the view model. This method is executed after the *activate* callback, so the model data can be accessed when determining the view.

I am creating a simple component whose goal is to display notifications (errors, warnings and success mes

[2015-09-23 10:18] Tinloon commented on #11
Since the VM's life-cycle is called only once you may have problems to recognize that the user switched the route. Try implementing determineActivationStrategy in the view modal :

import {activationStrategy} from 'aurelia-router';
export class YourViewModel {
    determineActivationStrategy() {
        return activationStrategy.replace;
    }
}

If you just want to force a refresh of the life-cyc

[2015-11-09 19:41] joelcoxokc commented on #8
Oh I like this!

This way the core frame work does not provide a hard coded property
`animation-timing=“before|with|after””`

@jobs4’s way is much more liek aurelia, it is basically providing a door into the swap method, to allow the end consumer to do whatEver they wish.

[2015-11-19 22:16] simonfox opened #16 "unbind callback not being invoked"
The unbind lifecycle callback isn't being invoked.

To reproduce, just add an `unbind()` function to the welcome VM in the skeleton. When you navigate away from the welcome page, unbind doesn't get called.

[2015-11-20 00:20] simonfox commented on #16
@EisenbergEffect

I [think this is the commit](https://github.com/aurelia/templating-router/commit/d9f81ccad1a8ca9b4732877d81d56dde06bbcaea) where things may have gone wrong.

Then [this commit](https://github.com/aurelia/templating-router/commit/9b96894cdb532a1df2068ab7156038f43ee1afe0) switches to using `ViewSlot.remove` which doesn't do an `unbind`.

Should the `unbind` call be the responsibili

[2015-11-20 04:09] bryanrsmith commented on #16
Your assessment looks right to me, but maybe Rob can confirm. I think a PR would be great! Let me know if I can help.

[2015-11-20 05:04] simonfox commented on #16
Looks like it might be more than just a `router-view` problem...The `CompositionContext.currentController` is inspected by the `CompositionEngine` [here](https://github.com/aurelia/templating/blob/master/src/composition-engine.js#L72) but I can't see `currentController` being set anywhere and it is not part of the `CompositionContext` interface.

Was it an intention to remove this property?

[2015-11-22 21:53] simonfox commented on #16
Hi @EisenbergEffect can I get your thoughts on this?

I think the problem is not just isolated to the router, as unbind isn't getting called when using `compose` elements either.

would adding the following to the `removeAction` of [`ViewSlot.removeAt`](https://github.com/aurelia/templating/blob/master/src/view-slot.js#L181) be sufficient?
[code]

[2015-11-22 22:37] EisenbergEffect commented on #16
Remove doesn't imply unbind. So, that's not the best fix. I can look into
it this week and issue a patch.
On Nov 22, 2015 4:53 PM, "Simon Fox" <notifications@github.com> wrote:

[2015-11-29 21:28] jdanyow commented on #16
@briannoyes reported an issue that I traced it back to this.

The bug causes problems with the repeat because `unbind` isn't called between calls to `bind`.

[2015-11-29 22:19] EisenbergEffect commented on #16
I'll take care of this this week.

[2015-12-03 18:49] #16 closed

[2015-12-19 23:23] joelcoxokc opened #19 "WITH swap-order Not working with Bluebird"
when
router-view swap-order=“with”

Bluebirds Promise.all takes and Array, and native Promise.all uses the arguments as an Array.

We are currently using the Native Promise.
We need to detect Bluebird, and then use the proper syntax accordingly.
I can fix it, I just want to make sure it hasn’t already been notified!

[2015-12-20 01:39] jdanyow commented on #19
I'm not sure if the `Promise.all(p1, p2 ... pN)` usage is standard.  MDN says `all` has one argument, an "iterable": https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Promise/all

[2015-12-20 02:32] EisenbergEffect commented on #19
I think you may be right. The bug is probably in our code and we just need to switch it to an array.

[2015-12-22 06:44] #19 closed

[2015-12-23 17:40] sylvain-hamel opened #21 "route-href should be more tolerant to undefined params"
Given a view with this:

[code]

if `data` comes in late (async call) the `route-href` (`RouteRecognizer` in fact) throws this error as soon as the view loads:

[code]

And then, when the `data` arrives the `href` is updated and everything is fine. The only way to avoid the error is to use `if.bind="data"` on the `<a>` element.

I feel like `route-href` should simply not set the `href` attribute o

[2016-02-02 09:54] stsje opened #22 "Suggestion to improve route-href syntax"
I find the syntax for route-href difficult to remember, and it doesn't feel natural to type.
You're currently forced to use a JSON-like syntax when declaring your route-href's. My suggestion is to improve it, so we don't have to memorize this weird looking syntax.

Current syntax:
`<a route-href="route: routeName; params.bind: routeParams"></a>`

Suggestion, introducing an attribute to hold the pa

[2016-02-24 21:24] mbroadst opened #23 "route params lose their identity"
I have a case where I'm binding an instance of a class (e.g. `let thing = new MyClass({ name: 'hello', data: 42 })`) to an href to change the current route, like so:
[code]

`thing` makes it into the routed VM's `activate` as the `params` object, however now it's a plain object (`Object { name: 'hello', data: 42 }`) and thus has lost any inherited properties/methods that I had wished to use when p

[2016-02-24 21:30] EisenbergEffect commented on #23
Think about this from the perspective of browser history. The route-href literally generates an href on the a tag. It uses the params as a data source to generate the string. Then, when you click the link, the link itself triggers the history change in the browser. There's no connection to your original class.

If you want to do something like this, I recommend that you cache the instance in some

[2016-02-24 21:30] #23 closed

[2016-02-24 21:33] mbroadst commented on #23
@EisenbergEffect ah right, that makes total sense. Thanks for the explanation!

[2016-03-06 17:54] valichek opened #24 "Using router-view inside template replace-part"
I have code like:
[code]
I get `Error: There was no router-view found in the view` when I navigate to that page from other page, but it renders ok when enter that page directly.
So question: Is this code good or tricky?

[2016-03-06 18:39] EisenbergEffect commented on #24
The router view needs to be inside the view for which the view model's router is associated with.When you use a template part, you are specifying to take that router view out of the current view and render it inside the internal view of the my-comp. So, the router view is no longer present and thus no router view is found.

[2016-03-06 18:39] #24 closed

[2016-03-25 07:27] stalniy commented on #21
Agree on this

[2016-03-25 10:17] Gheoan commented on #21
If you use the router you can return a `Promise` from the `activate` method on the view-model and Aurelia will not bind the view until after the `Promise` is fulfilled.

[2016-03-30 11:06] DevNebulae commented on #21
I also want to add to this that this also occurs when you want to have a dynamic route on an `href`.

[code]

[2016-03-31 04:03] bryanrsmith commented on #21
I disagree for two reasons:

1. There is no way to tell the difference between data that hasn't loaded yet and a mistyped binding or other mistake that will cause the binding to never succeed. I think it's important to provide an error message for a broken binding.
2. Showing the user a link that won't work is confusing UI, and I don't think it's something most people would want.

What do you thin

[2016-03-31 05:59] EisenbergEffect commented on #21
@bryanrsmith I agree. However, I can understand the use case provided by @DevNebulae What if we provided another property on the `route-href` that let you opt into the behavior he's asking for?

[2016-03-31 06:02] EisenbergEffect commented on #21
Though I'm not sure about the specific example given...I think in that case I would be likely to just bind the straight `href`. @DevNebulae Can you provide some more explanation for your examples?

[2016-03-31 06:41] DevNebulae commented on #21
@EisenbergEffect What I am trying to do is create an icon in a toolbar to route to different modules within my Aurelia application. My idea was to do this:

**Javascript (simplified)**

[code]

**HTML**

[code]

[code]

I also foresee a problem when you have a dynamic menu. Meaning the options in a menu can change upon data in a database. I would like the `route-href` still to check whether or not

[2016-04-16 18:41] jon123 commented on #21
Just ran into this case myself.  To add an extra use case, mine is a selectable list of products where the list contents can be filtered by product type.  Each list item needs an href to a different view depending on the current product type.  An example usage would be as follows:
[code]

[2016-04-16 19:31] CasiOo commented on #22
RC is coming up, so I guess it's too late to change anything in the syntax/the way route-href works at this point?

[2016-05-16 13:37] EisenbergEffect commented on #8
I think if we ever added this, we would need to make it configurable because certain animations will require this to be handled differently.

[2016-05-16 13:39] EisenbergEffect commented on #9
Fixed.

[2016-05-16 13:39] #9 closed

[2016-05-16 13:58] #11 closed

[2016-05-17 15:02] EisenbergEffect commented on #21
This would be a great opportunity for a community contributions. Someone could add a new bindable property on the route-href that told it not to enforce this constraint...

[2016-06-02 15:14] briannoyes opened #26 "Parent views containing a router-view should be able to render before child activate promise resolves"
With the latest code, if a child view placed into router-view within a parent view returns a promise from its activate method, the parent is not rendered until the child promise completes. For a shell view containing a router-view for its main content area, it would be pretty normal to show the shell and even let the user interact with it to possibly select a menu or view information in another ch

[2016-06-16 15:36] bfil opened #28 "Previous views are not removed from the DOM when using swap-order values 'with' or 'before'"
I've just updated to the latest version of aurelia and it looks like views under `router-view` elements are left on the DOM when using `swap-order="with"` or `swap-order="before"`, it works just fine with `swap-order="after"`.

Rolling back the 3 templating modules to the previous version fixes the issue.

I've tried to only roll back `templating-router` to version `1.2.1` but the issue persists,

[2016-06-16 15:38] EisenbergEffect commented on #28
@charlespockert Could this be related to the new layout implementation? Can you take a look?

[2016-06-16 16:17] charlespockert commented on #28
@EisenbergEffect could be, though if you aren't using the layouts it should theoretically be the original code path

Would be useful to add some more test coverage around swaps too to cover this

I'll have a look now

[2016-06-16 16:21] charlespockert commented on #28
@bfil can you confirm - you rolled back to 1.2.1 on templating-router and the issue persisted, and you are absolutely sure that you were running this version?

@EisenbergEffect I don't believe the layouts feature went in until 2.0.0 with the shadow DOM v1 changes so maybe there's something else in play here...

Can have a look anyway as I have a test repo ready to go

[2016-06-16 17:04] bfil commented on #28
Yes, with that version of templating-router the issue was still there, it's a bit confusing though, because only downgrading the 2 other templating modules didn't solve the issue, while downgrading all 3 did.

I might try again, but I think you can try and reproduce the issue with all the latest modules and let me know if you can?

In the mean time when I have some time I'll dig a bit more to see

[2016-06-17 08:30] charlespockert commented on #28
@bfil I've not managed to reproduce this exactly - though I have found an issue when using one of the other swap strategies that the `ViewSlot` throws when trying to remove the previous view, just debugging now...

I'm pretty sure this is contributing to your issue but interestingly, despite the issue my skeleton correctly removes the views in Chrome/FF and IE

Will update shortly

[2016-06-17 08:57] bfil commented on #28
I've just done the following:

[code]

Then in `app.html` added `swap-order="with"` to the `router-view`.

`gulp watch`, ignored TypeScript errors on the terminal and opened up Chrome (version 50.0.2661.102)

This is what I get when navigating between views:

![screen shot 2016-06-17 at 09 57 09](https://cloud.githubusercontent.com/assets/660513/16145690/eb9bed48-3471-11e6-8a32-5a0acb509eaa.png)

[2016-06-17 09:07] bfil commented on #28
Same result in Firefox 47.0:

![screen shot 2016-06-17 at 10 06 19](https://cloud.githubusercontent.com/assets/660513/16145912/3a183962-3473-11e6-8463-2906d013661f.png)

[2016-06-17 09:17] charlespockert commented on #28
@bfil @EisenbergEffect think I've found this - the `compose` instruction on the `compositionEngine` is handling the `ViewSlot` add/remove itself which is causing the view to not be in the DOM when the swap strategy kicks in

With a few tweaks I've switched to `createController` and then added to the `ViewSlot` manually, this seems to fix the animations and you get the expected results.

Just check

[2016-06-17 09:29] bfil commented on #28
Sounds great, just to be clear, the issue happens regardless of the usage of the aurelia-css-animator plugin.

[2016-06-17 09:33] charlespockert commented on #28
@bfil that makes sense - though I'd really only expect it to happen when you were using the new layouts feature, are you using that?

[2016-06-17 09:40] bfil commented on #28
No idea what the new layouts feature is, did you look at how I reproduced it by just cloning the typescript skeleton? Not sure if that project uses the new layouts feature.

[2016-06-17 10:37] EisenbergEffect commented on #28
@charlespockert Thanks for looking into this! Your description of the problem makes sense. I'll look out for the PR and get it release asap.

[2016-06-17 10:57] charlespockert commented on #28
@bfil before we can merge the PR - as a precaution, is there any chance you can either patch the `router-view.js` onto the one in the latest version of the templating-router repo in your app and see if it solves your issue?

Here's the PR:

https://github.com/aurelia/templating-router/pull/29

You should just need `router-view.js`

[2016-06-17 11:17] charlespockert commented on #28
@bfil you can also check out this skeleton clone:

https://github.com/charlespockert/router-test/

The fix to the router view is in the `skeleton-esnext` so you just need to do the usual `npm install` `jspm install` `gulp watch` dance to test it

[2016-06-17 13:30] bfil commented on #28
Tried to use the new `router-view` and it looks like it's working just fine, great work :) Looking forward for a patch release

[2016-06-27 15:36] paulharker commented on #26
Hi Rob and Team,
I agree with Brian, if we are loading our child template with a promise, I would like to load my "shell" with a wireframe (like Facebook does) until my content comes in.

[2016-06-27 15:37] EisenbergEffect commented on #26
We can enable it by adding a new property on the router-view.

[2016-06-27 15:39] briannoyes commented on #26
Sounds like a straightforward approach to me. Not saying it has to be the default behavior, just want a simple approach to opt in to that behavior.

[2016-06-27 18:49] diegograsso opened #30 "route-href breaks the binding when filtering array"
We have a list of links filtered dynamically.
When we try to generate the links using `route-href` it breakes the binding and the filtered items are added on top of the full list each time.
The route is valid and well defined and `route-href` is generating the right links, but the display is broken.

Here's the code simplified:

[code]

[code]

It looks like a bug. Are we doing something wrong?

[2016-06-27 19:03] rajajhansi commented on #26
@EisenbergEffect  I agree with Brian. This issue doesn't shows up in skeleton-navigation because the progress indicator is wired in index.html even before the shell (i.e. app.html/.js) is loaded. Even there, for every navigation the full page "AURELIA SKELETON NAVIGATION" with an AJAX progress  shows up, which becomes annoying after a point. I remember seeing a youtube style progress bar (like thi

[2016-07-04 02:17] EisenbergEffect commented on #8
Closing this since we aren't changing the internal pipeline at this point. There is a new swap order property on the router-view which allows controlling animation timing.

[2016-07-04 02:17] #8 closed

[2016-07-04 08:17] jods4 commented on #8
Can you provide details about the swap order property? Does it support the scenario described in this issue?

[2016-07-04 14:39] EisenbergEffect commented on #22
The syntax is the same as any "options" custom attribute supported by the framework and is designed to model the `style` attribute which is a native HTML attribute that works the same way.

[2016-07-04 14:39] #22 closed

[2016-07-08 11:18] henebb opened #31 "bluebird (promise framework) generates warning"
Hi!

We've started using bluebird. By simply adding `import 'bluebird'`.
But bluebird generates a console warning that is a bit "annoying". I think it's in the aurelia code: https://github.com/aurelia/templating-router/blob/master/src/route-href.js#L45 The promise doesn't return anything. It should at least return null, see: https://github.com/petkaantonov/bluebird/blob/master/docs/docs/warning-ex

[2016-07-08 14:44] #31 closed

[2016-07-08 14:45] EisenbergEffect commented on #31
I've pushed the fix suggested here. However, this isn't likely to fix it fully because there are a number of ways that Aurelia uses promises correctly that simply confuse bluebird. You may want to consider configuring bluebird to ignore those warnings. You can do it like this:

[code]

[2016-07-08 15:02] henebb commented on #31
Great! Thanks a lot!

[2016-07-08 16:34] joelcoxokc commented on #8
@jods4 Swap order simply allows you specify the order the next view and last view get created and removed.

for example, specifying `swap-order="with"` allows the views to be created and destroyed in parallel.

Something that may be of interest to you, is a new method I added to the ViewSlot.
(animateView)[https://github.com/aurelia/templating/blob/master/src/view-slot.js#L54]

This method takes a

[2016-07-08 18:10] jods4 commented on #8
@joelcoxokc I had a look. This allows all kinds of transitions (e.g. cross-fade, one after the other, etc.). It's nice.

But it doesn't allow what I wanted here, which is being able to animate out the current view before `activate` is called, which hides the latency of the `activate` when it loads data.

@EisenbergEffect Even if it's not supported by Aurelia proper, it would be possible to do this

[2016-07-08 18:16] EisenbergEffect commented on #8
See here: https://github.com/aurelia/router/blob/master/src/pipeline-provider.js#L36
Feel free to submit a PR to add additional slots. I'd be fine with that.

(Note that you can always create your own pipeline provider, register it with the DI and then have full control.)

[2016-07-08 18:18] jods4 commented on #8
Right, I forgot that. So yes, I could hack this without a single change to Aurelia. Let me know what you think: do you want to add a new pipeline step or rather not?

[2016-07-08 18:19] EisenbergEffect commented on #8
Send a PR with what you have in mind and let us look at it. It's fine with me, based on your description.

[2016-07-08 18:20] jods4 commented on #8
Sorry, forgot to ask the tricky question: what name would be a good name? `preActivate` is unfortunate in the current pipeline 😢

[2016-07-08 18:21] EisenbergEffect commented on #8
I'll let you figure that out 😆

[2016-07-08 23:09] joelcoxokc commented on #8
I see. @jods4  I just implemented something similar for the next hub release... to allow the side panel to animate before the view loads. A PR would be great, that we can make it standard

[2016-07-09 05:33] EisenbergEffect commented on #28
Closing since the fix was merged.

[2016-07-09 05:33] #28 closed

[2016-07-09 19:06] TylerJPresley opened #32 "Ability to set layoutView on parent route and the children inherit template."
I'd like to be able to set the layout on the parent and then the child router inherit the layout from the parent.

[2016-07-09 21:43] charlespockert commented on #32
Sounds useful, probably a good idea to allow inheritance from the parent to be toggled per router view, and probably add a global config setting too.

[2016-07-10 13:54] EisenbergEffect commented on #30
There are some odd things you are doing with respect to the list manipulation here. It can be greatly simplified. Here's how I would do it:

[code]

[2016-07-10 13:54] #30 closed

[2016-07-10 14:19] diegograsso commented on #30
Thanks @EisenbergEffect, I would do it as you described too.
Probably it's not a problem anymore, but in the earliest Aurelia versions reassigning an observed array broke the bindings for me. I was told to empty the array and push the new values instead, and it fixed some issues we had at the moment.
Like this:
[code]
instead of just
[code]
Is this a recommended practice?
Thanks for your help.

[2016-07-10 14:24] EisenbergEffect commented on #30
No need to zero out the array like that anymore. Believe it of not, Aurelia is super fast now if you just replace the entire array. We've got an optimized code path just for that scenario.

[2016-07-10 23:33] jods4 commented on #8
@EisenbergEffect @joelcoxokc
Look at this and let me know what you think: https://github.com/jods4/aurelia-animate-early

[2016-07-11 01:04] EisenbergEffect commented on #8
Cool.

[2016-07-28 10:04] Alexander-Taran opened #34 "Seems like I cant use bindings to use layoutViewModels properties in layoutView."
**I'm submitting a bug report**
- **Library Version:**
  1.0.0

**Please tell us about your environment:**
- **Operating System:**
  Windows 10
- **Node Version:**
  6.2.0

- **NPM Version:**
  3.8.9

- **JSPM OR Webpack AND Version**
  JSPM 0.16.32

- **Browser:**
  all
- **Language:**
  TypeScript X.X

**Current behavior:**
Properties declared in layoutViewModel are not getting rendered in layou

[2016-08-01 12:50] thomas-darling opened #36 "The route-href attribute should work for href attributes on custom elements"
**I'm submitting a feature request**

**Expected/desired behavior:**
- **What is the expected behavior?**

The `route-href` attribute should work not just for `href` attributes on native HTML elements, such as `<a>`, but also for `href` attributes on any custom element.

In the example below, the `href` attribute of the `<a>` element will get the value `undefined`, but ideally, it should get the U

[2016-08-03 19:47] kristianmandrup commented on #21
Let's make this *not your grandmother's router*

[2016-08-20 03:59] alvarezmario opened #37 "Layout - Component's attached hook not being called"
**I'm submitting a bug report**

* **Library Version:**
1.0.1

**Please tell us about your environment:**
* **Operating System:**
LinuxMint

* **Node Version:**
6.4.0

* **NPM Version:**
3.10.3

* **JSPM OR Webpack AND Version**
JSPM 0.16.42

* **Browser:**
Chrome 52

* **Language:**
ESNext

**Current behavior:**
When using layouts, components attached hook is not being called

**Expected/desired

[2016-08-30 23:48] chapma26 commented on #34
I can confirm the same issue. It seems the view model's constructor and attached functions are being called but no binding occurs.

[2016-08-31 19:22] alpox commented on #34
I can confirm this too. No bindings are possible in the layout views.

[2016-09-01 21:13] d13 commented on #34
This sounds similar to an issue I'm getting as well. You can see it happening here: https://gist.run/?id=946bc745d16ee7888e7bd069aed344e0

[2016-09-10 08:36] michie1 commented on #21
I made a solution. Any remarks or suggestions? I could use some advice on how to test this feature/fix.

[2016-09-10 10:21] kristianmandrup commented on #21
@michie1 I like it :) Pure and simple.

[2016-09-13 14:52] larsfjerm commented on #34
+1

[2016-09-14 05:52] Alexander-Taran commented on #37
duplicate of #34

[2016-09-21 18:37] Meyce commented on #34
Any update on this?

[2016-09-21 20:58] Alexander-Taran commented on #34
The workaround would be to use another component with slots instead of layout.

[2016-09-28 15:14] EisenbergEffect commented on #37
Closing as duplicate.

[2016-09-28 15:14] #37 closed

[2016-09-29 04:34] rmja opened #40 "It should be possible to specify the router to use for the route-href attribute"
**I'm submitting a feature request**
- **Library Version:**
  1.0.0

**Current behavior:**
`route-href` always uses the router of the current view.

**Expected/desired behavior:**
It would be nice if one could set/override the router to use on the `route-href`. Something like:

[code]

That would allow for navigation between child routers, where one component can take the child router of another a

[2016-09-29 06:53] EisenbergEffect commented on #40
Can you explain this a bit more? It wouldn't be hard to implement I don't think, but I'd like to understand your scenario and maybe see an example where you would want this and how you would reference the other routers.

[2016-09-29 11:06] rmja commented on #40
Sure. Say that I have a navigation component as follows:
[code]
And a `SettingsRouter` child router:
[code]

In the navigation component, I want to generate links for both the appRouter and settingsRouter; something like this:

[code]

I know that the `SettingsRouter` is not configured if it is not the current route, but I was planning on using it together with a child router loading strategi simi

[2016-09-30 02:01] EisenbergEffect commented on #40
That sounds reasonable. @rmja  Would you at all be interested in creating a PR to add the feature. If you did that we could probably merge it and get it released fairly easily.

[2016-09-30 05:07] rmja commented on #40
Sounds good to me. I will do it when I know for sure that I will need it. It depends somewhat on which child router loading strategy I settle on.

Btw. Thank you so much for a fantastic framework. It is such a joy to work with!

[2016-10-07 01:53] EisenbergEffect commented on #36
Sounds like a great opportunity to PR the route-href with this enhancement :)

[2016-10-25 08:00] Creadigme commented on #34
@Alexander-Taran @EisenbergEffect  Have you tried or find a working workaround for this issue ? LayoutView is a great feature but unusable in large project without support of components.

[2016-10-29 14:46] Alexander-Taran commented on #34
@Creadigme, no since we have a page or two for now which could benefit from this, we just copy pasted the functionality and are using the child router for details view. Which is not optimal, but we can live with it for now.

[2016-10-29 15:45] Creadigme commented on #34
@Alexander-Taran

@joelcoxokc's pull request (https://github.com/aurelia/templating-router/pull/41) fixed the custom element "attached" issue (if we specify a layoutViewModel), thus it is already a step for our project.

But a big issue appear (for our need) : Layout is regenerated when you navigate to another page (even if it's the same layout). Therefore all custom elements in the layout are als

[2016-11-01 19:49] aegenet commented on #34
Custom elements support and layout not regenerated at each navigation (wip) :
https://gist.run/embed.html?id=58858f211ec830d78fdd4f830115ec81

layout-router.view.js is based from the @joelcoxokc pull request.

The idea is here and it seem work, but as I don't know much more about aurelia templating, my "_clearSlot" function is a bit ugly. I can't find good way to clear slots.

For now, fallback sl

[2016-11-04 10:50] ErikSchierboom opened #43 "Cannot use custom elements"
**I'm submitting a bug report**

* **Library Version:**
1.0.7

**Please tell us about your environment:**
* **Operating System:**
Windows 7

* **Node Version:**
6.7.0

* **NPM Version:**
3.10.8

* **JSPM OR Webpack AND Version**
Aurelia CLI 0.21.0

* **Browser:**
all

* **Language:**
TypeScript 2.0.7

**Current behavior:**
If you include a custom element that doesn't use binding in a layoutView te

[2016-11-04 10:50] ErikSchierboom commented on #43
I strongly suspect this issue is related to [issue #34](#34).

[2016-11-04 12:58] joelcoxokc commented on #34
@egenet. Use viewSlot.removeAll()

However if there were animations, it will return a promise. So do.

`Promise.resolve( viewSlot.removeAll() ).then(`

[2016-11-04 13:17] aegenet commented on #34
@joelcoxokc Can you fork my gist and provide a sample if you have few minutes ? Because I have already tried (bad way maybe). Thank you.

[2016-11-05 15:41] antonmos opened #44 "Unhandled errors in route view models are not logged"
**I'm submitting a bug report**

* **Library Version:**
aurelia-templating@1.1.2",
:aurelia-templating-binding@1.0.0",
aurelia-templating-resources@1.1.1",
aurelia-templating-router@1.0.0",

**Please tell us about your environment:**
* **Operating System:**
OSX 10.x

* **Node Version:**
6.3.0

* **NPM Version:**
3.8.9

* **JSPM OR Webpack AND Version**
JSPM 0.16.32 | webpack 2.1.0-beta.17

* **Bro

[2016-11-05 18:29] swalters commented on #44
I've been seeing this in my application as well.  I recently moved from webpack to cli and thought that must be the reason.  Maybe this was broken in a recent release.

[2016-11-05 18:44] EisenbergEffect commented on #44
Closing this as a duplicate. It is a regression in the logging system. Fix is going out this week.

[2016-11-05 18:44] #44 closed

[2016-11-05 18:44] EisenbergEffect commented on #44
Apologies for that!

[2016-11-05 18:46] antonmos commented on #44
Thanks! where is the fix being tracked?

[2016-11-05 18:47] EisenbergEffect commented on #44
It's already merged into the logging repo. We just need to do a release. That should go out early this week.

[2016-11-05 19:27] jdemeuse1204 commented on #34
+1

[2016-11-12 04:04] JoshMcCullough commented on #21
Any movement on this? I load data in `attached` so I can show a loading indicator, but `route-href` is bound before the data is ready. Any other workaround?

[2016-11-12 04:15] EisenbergEffect commented on #21
There was an issue with the PR I think. I'll review for next week's release and see if we can move this along.

[2016-11-13 06:57] EisenbergEffect commented on #43
Closing as duplicate.

[2016-11-13 06:57] #43 closed

[2016-11-13 06:58] EisenbergEffect commented on #34
@charlespockert Would you be able to take a look at this? Since you did the original layout implementation, I figure you would be the best person to correct this bug. Thanks!

[2016-11-28 05:37] EisenbergEffect commented on #34
Fixed in 7de185425397434122c5008bbbb46122500e16f4
If you have additional fixes, feel free to create a new PR from this latest version.

[2016-11-28 05:37] #34 closed

[2016-11-28 05:38] EisenbergEffect commented on #36
Fixed :)

[2016-11-28 05:38] #36 closed

[2016-11-29 04:48] EisenbergEffect opened #46 "route-href binding too late"
@fkleuver commented on [Mon Nov 28 2016](https://github.com/aurelia/router/issues/438)

**I'm submitting a bug report**

* **Library Version:**
1.0.7

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.9.1

* **NPM Version:**
4.0.2

* **Aurelia-CLI**
0.22.0

* **Browser:**
all

* **Language:**
TypeScript 2.0.10

**Current behavior:**
Given an appli

[2016-11-29 04:50] EisenbergEffect commented on #46
@fkleuver I don't think there are any really issues from moving it to attached. I would be interested to find out why this is necessary. I'm wondering if there's something wrong elsewhere that is causing this. Are you interested in investigating further? If not, would you at least be willing to submit a PR for the timing change in the route-href attribute?

[2016-11-29 17:04] fkleuver commented on #46
@EisenbergEffect Interesting.. I think I found the problem:

`CommitChangesStep` comes after `ActivateNextStep` in the router pipeline. `CommitChangesStep`
refreshes the baseUrl on the router, among other things. This baseUrl is needed for `route-href` to get the correct relative url.

Here's where it goes wrong: `ActivateNextStep` kicks off the ViewModel lifecycle without actually waiting for the

[2016-11-30 03:18] EisenbergEffect commented on #46
Good analysis. Thanks for taking the time to look into that. In the worst case, we can delay the href set until attached. That's not a huge deal. Ideally, we want to delay route generation until right after the base url is fixed. Maybe we can introduce a hook for this. We might just use attached in the short term and then switch to another mechanism in the future. I need to consider it more...

[2016-11-30 15:32] fkleuver commented on #46
Hm, that brought me on a different idea. I tried using the BindingEngine to subscribe to changes to `router.baseUrl` and call `processChanges()` when that happens. It works like a charm. Besides, wouldn't you want to update the hrefs when the router's baseUrl changes anyway?

The only two downsides I can think of are the added dependency on `aurelia-binding` and potentially an impact on performanc

[2016-12-23 16:41] AbraaoAlves opened #49 "Accept HTML only custom element in moduleId RouteConfig"
**I'm submitting a feature request**

**Expected/desired behavior:**
* **What is the expected behavior?**
The moduleId should work not just ViewModels, but also HTML only custom elements.

Like tag `<require from="my-component.html">`, that accept viewModels and Views, moduleId in RouteConfig should accept string like this:

[code]

**What is the motivation / use case for changing the behavior?**

[2016-12-23 17:51] EisenbergEffect commented on #49
Closing this as a duplicate. We have a feature tracked to enable "view only" routes. Thanks!

[2016-12-23 19:20] AbraaoAlves commented on #49
@EisenbergEffect  any link?

[2016-12-23 21:22] AbraaoAlves commented on #49
I don't find any feature like this. Yes is there #25, but is about layout view-only no page view-only.

Take app-contacts app and put this code on app.js:

[code]
The aurelia-template-route don't work with moduleId path. But if I make little change on [`route-loader.js`](https://github.com/abraaoalves/templating-router/blob/master/src/route-loader.js#L16) ... It works, not more empty class!!

I wa

[2017-01-17 09:39] zhengxiansen opened #53 "The ‘PreviousView ’ position is misplaced"
**I'm submitting a bug report**

file: [router-view.js](https://github.com/aurelia/templating-router/blob/master/src/router-view.js)
line:  :127

**before**
[code]

**after**
[code]

![image](https://cloud.githubusercontent.com/assets/7506913/22014889/b13068de-dcda-11e6-9e2a-e5d58c29c5d4.png)

[2017-01-17 09:58] dev0x10 commented on #53
I can help, you can type in Chinese.
為何你認為位置錯了？

[2017-01-17 12:34] zhengxiansen commented on #53
因为 previousView 代表着上一个视图，但是这个变量在调用之前被改成当前视图了，注意 181 行的代码，这个是在 work 方法调用前执行，这个时候 this.view 的值就是当前待激活的视图，而再是上一个视图了，如果要获取上一个视图，就应该在覆盖之前被定义

[2017-01-17 12:37] dev0x10 commented on #53
@zhengxiansen 我不太確定為何你看到的181行內容不一樣

[https://github.com/aurelia/templating-router/blob/master/src/router-view.js#L181](https://github.com/aurelia/templating-router/blob/master/src/router-view.js#L181)

[2017-01-17 12:39] zhengxiansen commented on #53
你的在 127 行⊙﹏⊙
![image](https://cloud.githubusercontent.com/assets/7506913/22020766/f43ff27e-dcf4-11e6-8fa4-ed296076ed7e.png)

[2017-01-17 12:42] zhengxiansen commented on #53
不一样是因为我改了代码，因为我想使用framework7, 但是 framework7 太大了，所以我在准备自己实现 router-view , 囧~~~~~

但是代码的确是有问题了，this.view === previousView 输出为true

[2017-01-17 12:47] dev0x10 commented on #53
@zhengxiansen 應該 174 行 和 127行
我看了一下邏輯有一點難懂因為可能沒執行到
[code]

如果你可以提供sample project證明這個bug可能會比較清楚
Bug template: [https://github.com/aurelia/templating-router/blob/master/ISSUE_TEMPLATE.md](https://github.com/aurelia/templating-router/blob/master/ISSUE_TEMPLATE.md)

[2017-01-17 12:55] zhengxiansen commented on #53
@dev0x10

`this.view = viewPortInstruction.controller.view;` 没有执行到吗？

我需要重新发起一个，还是直接在这里附上呢

[2017-01-17 12:59] dev0x10 commented on #53
@zhengxiansen
我不太確定但如果進到156行是不是直接return不會執行下面的

可以直接這裡附上

[2017-01-17 14:11] zhengxiansen commented on #53
I* **Library Version:**
1.0.1

* **Operating System:**
Windows 10

* **Node Version:**
v7.2.1

* **NPM Version:**
v 4.0.3

* **JSPM OR Webpack AND Version**
aurelia-cli: 0.24.0

* **Browser:**
Chrome 57.0.2970.0

* **Language:**
TypeScript 2.1.5

我压缩包上传不了，我建立了一个临时仓库

[地址](https://github.com/zhengxiansen/aurelia-router-bug-temp-demo)

 这个仓库的代码是使用 aurelia-cli 来创建的

启动之后你可以这样尝试：

1. 直接在浏览器上看效果

2. 打开

[2017-01-19 05:10] EisenbergEffect commented on #53
Can someone provide some additional information for me?

[2017-01-19 15:43] dev0x10 commented on #53
@EisenbergEffect I'll find time to test and provide necessary info, could be at this weekend

[2017-01-20 12:54] fracz opened #54 "Add ability to set route transition options in the view"
**I'm submitting a feature request**

* **What is the expected behavior?**
One should be able to specify route options (like `trigger` or `replace`) directly in the view. For example:

[code]

[Related SO question](http://stackoverflow.com/q/41762433/878514)

* **What is the motivation / use case for changing the behavior?**
I want different url for each tab on the page but I don't want to force t

[2017-01-23 21:12] carusology commented on #49
I also ran into this limitation. As far I as I can tell, we are required to create an empty view-model to back the view. @EisenbergEffect, can you give us a link to whatever issue is tracking this feature request? The issue @AbraaoAlves referenced, #25, does not appear to be related.

[2017-01-23 21:14] EisenbergEffect commented on #49
I thought we had a feature for this somewhere. Perhaps, I was wrong? I'll re-open this.

[2017-01-23 21:38] carusology commented on #49
@EisenbergEffect k, thanks.

When I attempted to get this to work within the current architecture, I used the `my-view.html` style of syntax in [that is referenced in Aurelia Hub for HTML-Only custom elements](http://aurelia.io/hub.html#/doc/article/aurelia/templating/latest/templating-custom-elements/2), but put it in my route config, like so:

[code]

However, this gets me message `"Uncaught (in

[2017-01-23 22:49] AbraaoAlves commented on #49
That's it @carusology, clear like water.
Thanks!

[2017-01-27 18:41] dev0x10 commented on #53
@zhengxiansen 你提供的專案我build不起來
我好像有遇過這個錯誤但我忘了解法
[code]

[2017-02-01 08:59] zhengxiansen commented on #53
@dev0x10 不会吧，这几天是过年，没空上网，那我试试重新弄一个吧，但是为什么会提示main.js是404？你的电脑也是 windows 系统吗？win 系统经常出现各种奇葩的问题

[2017-02-02 18:39] paulharker commented on #46
Hi all,
I have a heavily child-router based application that is suffering from this bug. We are in the framework phase, but within a few weeks to a month will start moving to a feature-creation phase. Would love to know how tis fix is coming. Paul

[2017-02-07 05:26] zhengxiansen commented on #53
@dev0x10 我把源码放入 GistRun 网站上了，原来没有在哪里放是因为对 systemJs 不熟悉，并且 GistRun 网站在我们这里实在是太卡，现在卡了半天终于把代码放上去了，地址在这里 [https://gist.run/?id=4f993b4e6ae962463cef734dd35121eb](https://gist.run/?id=4f993b4e6ae962463cef734dd35121eb)

[2017-02-09 15:22] dev0x10 commented on #53
@zhengxiansen 抱歉最近沒什麼空
我們可以私聊討論這問題因為我看了Gist 也看到404
微信：yauri_i

[2017-02-13 21:18] bbarne8 commented on #53
This is an issue that is actually a resolution for an aurelia-router issue #458 swap-order="with" error.

https://github.com/aurelia/router/issues/458

I posted there with this resolution and included a link to a repository to reproduce the error.
Here is the link: https://github.com/bbarne8/AureliaSwapOrderRepro.

[2017-03-06 09:59] mroseboom commented on #53
This issue could be closed, because this is included within the merged pr [aurelia/templating-router#55](https://github.com/aurelia/templating-router/commit/959855ad660da1fb351199982b07c17016bdfbeb)

[2017-03-06 17:52] #53 closed

[2017-03-07 05:47] bryanrsmith commented on #46
@fkleuver @EisenbergEffect Do you guys know if this issue is blocked on a decision? I agree with @fkleuver's assessment that the router's commit step happening at the end of the lifecycle is the underlying issue. Since that's fairly involved to change at this point it would be great to work around the issue in route-href to at least get some people unblocked. What do you guys think of simply delay

[2017-03-07 06:23] EisenbergEffect commented on #46
I think we can move this forward by delaying until after attached for now. @bryanrsmith If you have some time to make the fix, that would be awesome.

[2017-03-13 05:24] nathanchase commented on #21
I'd like to see this happen, too. I wrote about my use case here: http://stackoverflow.com/questions/42756084/how-do-you-dynamically-bind-route-href-parameters-in-aurelia

Essentially, the requested behaviors is: "If a route-href has null parameters, just have it ignore them when it generates the URL."

[2017-03-14 13:38] esmoore68 commented on #21
I'm unclear as to why default route.href binding behavior should handle undefined differently than any other binding.

The same properties that cause route-href to throw an error do not throw an error when displayed with ${} or with value.bind.

[2017-03-14 15:33] JoshMcCullough commented on #21
@esmoore68 Because the contents of `${someVariable}` are not required whereas some route parameters, e.g. `/things/:id/edit`, _are_ required. The route can't be constructed if the `id` parameter is not defined or null.

[2017-03-23 11:40] suamikim opened #57 "Generated routes ignore base paths when using pushState"
**I'm submitting a bug report**

* **Library Version:**
CLI `0.26.1`
Framework `1.1.0`

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.9.4

* **NPM Version:**
4.1.1

* **Browser:**
Chrome 57 & FF 52 but I guess it happens in other browsers as well

* **Language:**
TypeScript 2.2.1

**Current behavior:**
`route-href` bindings produce links with

[2017-03-23 13:44] suamikim commented on #57
I just realized that I've manually set the `href` attributes of my routes to relative URLs **without** the leading `/` which is why the links in the navigation view are "correct".

If I omit the custom `href` attributes from the routes, the generated links do also **have** the leading `/` and act the same way as the generated links from `route-href`...

Nonetheless this behavior is breaking my app

[2017-03-29 13:18] rmja commented on #40
I am closing this one as I have found that [aurelia-route-mapper](https://github.com/heruan/aurelia-route-mapper) is a much better way forward.

[2017-03-29 13:18] #40 closed

[2017-04-11 15:26] suamikim commented on #57
Any ideas on whether this is a browser bug or not?
Also I'd really appreciate some input on how to override Aurelias URL generation to omit the leading `/` manually.

[2017-04-12 09:11] suamikim commented on #57
@Chinchilla

Directly editing files within the external dependencies (like `node_modules/aurelia-templating-router/src/route-href.js`) is very dangerous since the changes will be overwritten the next time `npm install` or `npm update` provides a new version of `aurelia-templating-router`.

Therefore such overrides should be encapsulated in your own code repository. I've managed to do so in the fol

[2017-04-13 14:01] Chinchilla commented on #57
@suamikim

My (quick and temporary) fix was aimed at fixing the problem I was experiencing and minimizing unintended side effects.

I agree with you that it's better to encapsulate the code in your own repository, but my concern over your fix is that it overrides the AppRouter.generate function, and I didn't have time to check that this function is only called in this circumstance.

My change, or

[2017-04-25 12:51] gama410 opened #59 "SwapStrategies is undefined: "cannot load 'after' of undefined""
**I'm submitting a bug report**

* **Library Version:**
1.0.1

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
7.7.4

* **NPM Version:**
4.4.4

* **JSPM OR Webpack AND Version**
using CLI

* **Browser:**
Chrome up to date

* **Language:**
TypeScript 2.2

**Current behavior:**
When loading the app, I get  **cannot load 'after' of undefined.** and a

[2017-05-14 03:50] EisenbergEffect commented on #59
Make sure all your dependencies are up to date.

[2017-05-14 03:50] #59 closed

[2017-06-05 13:41] matthewh commented on #46
What is needed to get this merged? I am using @bryanrsmith's fix and it works well.

[2017-06-06 07:58] wcislom commented on #59
@EisenbergEffect I have the same issue after upgrading my project to latest aurelia release:

`_aureliaTemplating.SwapStrategies[_this2.swapOrder]  `
causes
`ERROR [app-router] TypeError: Cannot read property 'before' of undefined`

I am sure that my dependecies are up to date.

![image](https://cloud.githubusercontent.com/assets/15823673/26819237/45fc8f5c-4a9e-11e7-84f0-468eb26d9dec.png)

How can

[2017-06-16 17:42] obedm503 commented on #36
this should be documented somewhere

[2017-07-12 20:32] claq2 commented on #59
One way to pull in the latest aurelia-templating is to explicitly add it to your project e.g.

    npm install --save aurelia-templating

If it's being pulled in as the dependency of another package then ncu doesn't seem to update it.

[2017-07-20 06:13] #46 closed

[2017-07-27 11:28] InfiniteLukeOne opened #60 "Generated links on view with space in route parameter value cut off base route"
**I'm submitting a bug report**

* **Library Version:**
1.1.0

**Please tell us about your environment:**
* **Operating System:**
Windows 7

* **Node Version:**
6.10.3

* **NPM Version:**
3.10.10

* **JSPM OR Webpack AND Version**
JSPM 0.16.53

* **Browser:**
IE 11, Chrome 60.0

* **Language:**
TypeScript 2.1

**Current behavior:**
I'm having a router hirachy of three routers:
* router A has some

[2017-08-08 20:40] dinkzilla commented on #21
@CasiOo's solution, recommended in @michie1's pull request, seems like a pretty good one to me. Still waiting on weigh-in from Aurelia team though it looks like.

[2017-08-23 06:53] InfiniteLukeOne commented on #60
Can I get a statement on this issue?

[2017-08-23 16:06] EisenbergEffect commented on #60
@davismj I know you've recently done some work on base url and encoding. Does your recent fix address this by any chance as well?

[2017-08-23 17:19] davismj commented on #60
Yes, this seems to be a duplicate issue and should be resolved by this. https://github.com/aurelia/router/pull/501

[2017-08-23 17:19] #60 closed

[2017-08-24 08:16] InfiniteLukeOne commented on #60
Thank you, I will try it once it's released

[2017-08-31 10:32] davismj commented on #57
@AshleyGrant brought this to my attention, and I'm looking into it. If anyone has a working example that would save me the time of spinning up an instance for debugging purposes.

[2017-09-07 10:49] deap82 opened #61 "Missing properties in typescript definition of RouteHref"
**I'm submitting a bug report**
(In lack of better headline option ;-) )

* **Library Version:**
aurelia-templating-router 1.1.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.11.2

* **NPM Version:**
5.3.0

* **JSPM OR Webpack AND Version**
JSPM 0.16.53

* **Browser:**
N/A

* **Language:**
TypeScript 2.4.2

**Current behavior:**
When injectin

[2017-10-03 11:57] Kukks opened #63 "Error: Unable to find module with ID: aurelia-templating-router/router-view.html"
**I'm submitting a bug report**

* **Library Version:**
1.2.0

**Please tell us about your environment:**
* **Operating System:**
Win 10

* **Node Version:**
6.11.0

* **NPM Version:**
5.4.2

* **JSPM OR Webpack AND Version**
Webpack 3.6.0

* **Browser:**
all

* **Language:**
Ts 2.5.3

**Current behavior:**
Upon attempting to load site after a successful build:
[code]

**Notes**
I just bumped up t

[2017-10-03 12:15] Kukks commented on #63
I've also tried setting my package.json to only point to `"aurelia-bootstrapper": "^2.1.1"` and still getting the issue. Really unsure of how to handle this.

[2017-10-03 13:02] Kukks commented on #63
On another note, the previous working versions were these:
[code]

[2017-10-03 13:43] davismj commented on #63
Can you providing a working example? Perhaps using [gist.run](gist.run). This looks like an issue with how webpack is trying to load the file, but it's hard to tell.

[2017-10-03 16:09] Kukks commented on #63
I'll try and set it up first thing tomorrow morning. I've reverted back to
my original versions and app is working that way. I guess there was some
breaking change somewhere along them.

On Oct 3, 2017 3:43 PM, "Matthew James Davis" <notifications@github.com>
wrote:

[2017-10-03 21:11] JeroenVinke commented on #63
@Kukks if possible, could you share the other dependencies in package.json as well, in addition to the outputs of `npm -v` and `node -v` ?

[2017-10-04 10:46] Kukks commented on #63
@JeroenVinke  @davismj I was playing with it again and re-did the package bumps in case I missed anything: seem to work with the following:
[code]
node
[code]

[2017-10-05 06:59] davismj commented on #63
@Kukks Thanks for taking the time to investigate and follow up. That's a huge help to us. Glad everything is working, Andrew.

[2017-10-09 10:22] MrBliz commented on #63
@davismj  I'm having the same issue. Matching my packages to the same ones @Kukks has does not fix it, nor does changing packages to the ones in the referenced issue.

Reproducible sample attached. (Dotnet)

[WebClient.zip](https://github.com/aurelia/templating-router/files/1368143/WebClient.zip)

[2017-10-12 08:11] kuechlerm commented on #63
This is quite mysterious. I have two projects. One is working with
        "aurelia-templating-binding": "1.4.0",
        "aurelia-templating-resources": "1.5.1",
        "aurelia-templating-router": "1.2.0",

The other one shows the mentioned error "Unable to find module with ID: aurelia-templating-router/router-view.html".

Both have the exact same webpack setup with the same aurelia packages an

[2017-10-22 23:49] gheoan commented on #49
@EisenbergEffect, @AbraaoAlves I think this can be closed since #50 was merged.

[2017-10-22 23:56] #49 closed

[2017-10-23 03:39] sboyd commented on #63
For what it's worth I got the same error when I upgraded from "aurelia-templating-router": "^1.0.0", -> "aurelia-templating-router": "^1.2.0".

I'm in the process of upgrading my aurelia-* packages. I ran npm update and had to roll back. Proceeded to do one package at a time and when I got to aurelia-templating-router that's when I go the same error as mentioned above.

Thanks --Steve

[2017-10-23 07:01] kuechlerm commented on #63
Glad I'm not alone with this...

@davismj can you reopen this? I'm out of options.

[2017-10-23 08:21] Kukks commented on #63
Maybe you can try and setting the deps to point to only aurelia-bootstrapper. Try also removing the npm_modules folder and to check after a fresh install if all the aurelia modules installed are the correct versions. Could be another package demanding a lower version of one specific aurelia package

[2017-10-23 09:03] kuechlerm commented on #63
@Kukks Thanks for your tip!

I changed my package.json from (only aurelia packages shown):
[code]

To
[code]

Now it works!

I used to specify all aurelia packages due to problems with different versions of npm and yarn. Sometimes packages were not included if not specified.

Some aurelia package seems to cause the issue, but I can live with this setup for the moment.

Thank you.

[2017-10-23 09:19] Lichtjaeger commented on #63
It doesn't work for me.
For now, I changed my dependencies to
[code]

This is working for my electron(-compile v6.4.2) app.

[2017-10-23 10:26] davismj commented on #63
@Lichtjaeger @Kukks @kuechlerm

I'm not exactly sure the source of the issue. It's not a router issue; it's a more general module loading issue, I believe. See here for a similar error in the templating-resources library: https://github.com/aurelia/templating-resources/issues/312.

It also seems to be specific to an update with both Aurelia and then webpack loader. Where possible I always use syst

[2017-10-23 21:45] JeroenVinke commented on #63
Hey everyone, do any of you have yarn.lock or package-lock.json files? Could you try and remove those, together with node_modules and `yarn` or `npm install` again? Let me know how that goes.

[2017-10-24 02:28] sboyd commented on #63
Hi @JeroenVinke I do have a package-lock.json file. I'll delete it as well as my node_modules file and then try upgrading to the latest aurelia-templating-router package

[2017-10-24 02:47] sboyd commented on #63
@JeroenVinke I just tried it and it seems to have worked, but now I'm getting the attached warnings in the browser console. I'm going to see if I'm able to follow similar steps with the aurelia-templating-binding and aurelia-templating-resources packages.

![image](https://user-images.githubusercontent.com/219548/31922606-323068d8-b833-11e7-969f-b0bc49cde2ac.png)

[2017-10-24 05:08] Lichtjaeger commented on #63
Removing the package-lock.json file worked.

Now I only have "aurelia-bootstrapper" and "aurelia-loader-nodejs" in my dependencies.

And I don't have any warnings, unlike @sboyd .

[2017-10-24 18:16] dkent600 commented on #63
What worked for me:

Per @kuechlerm, reducing the packages in package.json down to:
[code]

Per @Lichtjaeger , removing the package-lock.json file

Thanks

[2017-10-25 02:21] sboyd commented on #63
Just so I'm clear @dkent600 you're saying I can trim all this down to just two packages.

"aurelia-bootstrapper-webpack": "^1.1.0",
"aurelia-event-aggregator": "^1.0.0",
"aurelia-fetch-client": "^1.0.1",
"aurelia-framework": "^1.1.5",
"aurelia-froala-editor": "^2.7.3",
"aurelia-google-maps": "^1.0.21",
"aurelia-history-browser": "^1.1.0",
"aurelia-loader-webpack": "^1.0.3",
"aurelia-logging-consol

[2017-10-25 02:26] dkent600 commented on #63
@sboyd  Certainly not all of those, but I most of them.  aurelia-bootstrapper has a lot of dependencies.  You can see them listed in its own package.json.

[2017-10-25 02:52] sboyd commented on #63
@dkent600 out of curiosity what Aurelia template did you start your project with? https://github.com/aurelia/skeleton-navigation I'm using the ESNext webpack template. I'm curious because I don't have an aurelia-bootstrapper package but I have a aurelia-bootstrapper-webpack package.

[2017-10-25 11:06] dkent600 commented on #63
@sboyd I started with Aurelia-Typescript-Webpack

[2017-10-26 03:14] sboyd commented on #63
Thank you @dkent600

[2017-10-27 21:24] sboyd commented on #63
Sorry to keep spamming everyone, but @JeroenVinke any idea how to get rid of the warnings I'm regarding chunks?

https://user-images.githubusercontent.com/219548/31922606-323068d8-b833-11e7-969f-b0bc49cde2ac.png

[2017-10-27 21:25] JeroenVinke commented on #63
@jods4 any thoughts on the warnings that @sboyd is getting?

[2017-10-27 21:56] sboyd commented on #63
@jods4 and @JeroenVinke I think I'm ok now. I commented out, and will soon delete, the first line under entry in my webpack.config.bable.js file and the warning is gone now and the app seems to still work ok.

let config = generateConfig(
  {
    entry: {
      //'app': ['./src/main' /* this is filled by the aurelia-webpack-plugin */],
      'aurelia-bootstrap': coreBundles.bootstrap,
      'aurel

[2017-10-28 06:35] #63 closed

[2017-11-22 18:00] shahidkarimi commented on #46
Please answer this
https://stackoverflow.com/questions/47441179/aurelia-href-bind-is-not-working

[2017-11-23 17:59] toonevdb opened #69 "layout-view property of a <router-view> does not update when binding changes"
**I'm submitting a bug report**

* **Library Version:**
1.2.0

**Please tell us about your environment:**
* **Operating System:**
Ubuntu 17.10

* **Node Version:**
8.7.0

* **NPM Version:**
5.4.2

* **JSPM OR Webpack AND Version**
JSPM 0.17.0-beta.47

* **Browser:**
all

* **Language:**
all

**Current behavior:**
It seems that the layout-view property of a router-view does not refresh its bindings

[2017-12-10 10:38] davismj commented on #21
To everyone in this thread, thanks for the input and keeping this conversation going.

I think the problem here is a fundamental misunderstanding of the activate callback. If you have any data that is required in your view anywhere, including route-href, you should load that data and return the corresponding promise in the `activate()` callback. Then, all your data will be available on `bind()`, w

[2017-12-11 01:40] JoshMcCullough commented on #21
@davismj We do our data loading / API calls in `attached` because it allows the UI to render and show loading indicators as we pull down the data for the view. If we did that in `activate` instead, the user would be waiting for the data to load before any UI is displayed. This makes the app appear slower and the user would question whether anything was happening at all.

Perhaps `route-href` shoul

[2017-12-11 05:15] michie1 commented on #21
@davismj I can confirm it could be a training issue because my experience with Aurelia and promises was little at that time. An error with a (link to a) short description how to solve the problem would be better than allowing bad practices.

[2017-12-11 07:41] StrahilKazlachev commented on #21
@JoshMcCullough Any reason why you don't use a *loading indicator* that sits outside the views that are loading?
In short, the way I've organized such things is I have a dedicated custom element that sits outside the `<router-view>` that's loading. Communication is done using the `EventAgrregator`.

[2017-12-11 09:52] DevNebulae commented on #21
@davismj Keep in mind that I wrote the issue description on March 31st 2016. The use case of my issue was that I wanted the components to register *themselves* to the router so that dynamic links could be generated. I don't exactly know what my use case was, since I haven't worked on the project for well over a year.

[2017-12-11 11:52] jon123 commented on #21
@davismj at the time I wrote that sample code, it did not work.  I worked around the issue at the time.  Unfortunately I am no longer working with Aurelia so I cannot see if it functions in current.   Given its been over a year it may be working.

[2017-12-11 20:43] JoshMcCullough commented on #21
@StrahilKazlachev We have one-many areas within a view that require data and we often will display loading indicators in each area to communicate that that section is still loading. So it's important to load the view's minimum UI (e.g. sections/headers/text) while we load data in the background to populate the rest.

[2018-01-12 01:30] sklinger commented on #57
Seems like the same problem I reported in https://github.com/aurelia/framework/issues/793 - I linked a sample repository there.

[2018-01-17 14:23] nenadvicentic opened #71 "Navigation fails with: ERROR [app-router] Error: Unknown object type "htmlanchorelement""
**I'm submitting a bug report**

* **Library Version:**
1.3.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
8.9.4

* **NPM Version:**
5.6.0

* **Browser:**
Chrome 63 | Firefox 57 | Edge

* **Language:**
TypeScript 2.6.2

**Current behavior:**
There are 3 child-router sections on the website. After navigating to one specific section (help sectio

[2018-01-17 14:27] davismj commented on #71
Sounds like it might be implementation specific. Do you have a repro?

[2018-01-17 14:32] nenadvicentic commented on #71
No. I am not able to reproduce the issue in any simple form. I tried to remove all content from problematic child-router section, put single route, etc. As soon as I have (even empty) `configureRouter` method on the class, issue pops back again.

[2018-01-17 14:35] davismj commented on #71
@bigopon look familiar to you?

[2018-01-18 10:14] nenadvicentic commented on #71
OK, I found the culprit. This happens when I am using `object_hash` npm package. Github repository is here: https://github.com/puleos/object-hash.

What is really strange is that the section that breaks navigation does not use `object_hash`, but once you enter this section navigation breaks apart.

Luckily, on IE11 sections that use actual `object_cache` are throwing error: https://github.com/aure

[2018-01-18 10:43] #71 closed

[2018-01-23 00:26] sklinger commented on #57
@davismj I think I have found at least part of the problem. It looks like a misinterpretation of a relative path starting with a slash together with a set root/base URL.

See https://github.com/aurelia/history-browser/blob/b2150087d02502bb5ee6366295456f884472a8d6/src/index.js#L144:
The root is always prepended to the fragment, even if it starts with a slash. I think it should be checked if the fra

[2018-01-23 01:18] AshleyGrant commented on #57
@davismj, @sklinger is knocking it out of the park!

[2018-02-20 20:13] fkleuver commented on #26
I know this has been sitting in limbo for a while, but afaik we still don't have a way to do this.

I'm very interested in having an opt-in for viewmodels to start rendering immediately after they activate, rather than waiting for all activates to resolve.

@EisenbergEffect you mention a property, but as far as I understand it the router in principle won't kick off the rendering process before aur

[2018-02-22 16:56] nnscr opened #74 "hrefs not being updated when using child routers"
**I'm submitting a bug report**

* **Library Version:**
1.3.1

**Please tell us about your environment:**
* **Operating System:**
Arch Linux

* **Node Version:**
9.5.0

* **NPM Version:**
5.6.0

* **JSPM OR Webpack AND Version**
webpack 3.11.0

* **Browser:**
only tested in Chromium 64

* **Language:**
TypeScript 2.7.2

**Current behavior:**
When navigating between child routers `href` attributes

[2018-03-03 00:16] Alexander-Taran commented on #54
Stale

you can add route-href and a click.delegate($event)
check for `middle button` or ctrl.key state and if any, just `return true`,
otherwise `router.navigate()`

[2018-03-03 14:51] Alexander-Taran commented on #21
nothing stops you from wraping up your route-href into if.bind to not render until parameters are ready.. link is usless until they are. No?

might be closed

[2018-03-03 15:08] JoshMcCullough commented on #21
@Alexander-Taran  I don't like the idea of having to add `if-bind`s everywhere, I think it could be fixed in the framework itself.

[2018-03-03 15:14] Alexander-Taran commented on #21
Yeah.. I also like breakfast in bed (-:
but.. 'you are holding it wrong' (c)b

you are talking about introducing something to the core framework that will have to be supported..
because of a late binding..
and you are happy with that user could possibly click on a non working link and be frustrated

now here is an idea.. what if there were a possibility to mark something as late bound..

still i b

[2018-03-03 21:43] EisenbergEffect commented on #21
@davismj to triage and decide whether to close or if a new feature is needed.

[2018-03-05 06:09] davismj commented on #21
I'm closing for lack of interest. I think there might be something here to consider but I need to see some real examples to move forward. Will reopen when the time comes.

[2018-03-05 06:09] #21 closed

[2018-03-05 09:59] Alexander-Taran commented on #21
concept of async binding referenced here
https://github.com/aurelia/testing/issues/49

might help OP

[2018-03-05 12:58] Alexander-Taran commented on #32
[code]
to be clear: do you wish to define the layout configuration in the router that routes to parent
and then somehow utilize it in child router?

can you provide and example of how you'd use proposed feature?

[2018-03-07 16:16] Alexander-Taran commented on #61
@deap82 would you like to create a PR for that?

[2018-03-15 17:47] Alexander-Taran commented on #74
Ok
long story short:

in gist provided
file profile/index.html
[code]
when navigation to another profile happens from the profile page these are not updated

[2018-03-21 05:22] davismj commented on #32
@TylerJPresley @charlespockert still interested in this?

[2018-03-21 06:13] davismj commented on #26
@fkleuver why not just resolve the child activate immediately, then?

[2018-03-21 18:35] fkleuver commented on #26
@davismj Because activate, as far as I know, is the proper place to wait for server data to load.

Resolving that before the server data is loaded I need to pollute my custom elements with all kinds of "is the data there yet?" checks to delay rendering until it is.

Which is really what I'm hoping (and typically advise other people) to avoid in favor of awaiting the loading during activate.

If th

[2018-03-21 18:39] Alexander-Taran commented on #26
@fkleuver how you you handle long loads? do you not show some spinner/progress?

[2018-03-21 19:04] fkleuver commented on #26
@Alexander-Taran Currently you can only do that in the top-level page of where the navigation starts which, in case of a full page load, is the index.html. Let me show you an example:

https://fkleuver.github.io/aurelia-recursive-navigation-sample/#/

- Click "all at once" in the left -> imagine a loader and then after a few seconds all pages show up
- Click "one by one" -> that is what I would li

[2018-03-22 02:55] #32 closed

[2018-03-22 12:41] dmoebius commented on #63
For anyone stumbling upon the same issue and landing here: in my case it helped to delete the `node_modules` folder, then run `npm install` and **then run `npm dedupe`!** The last part made the difference.

[2018-03-22 12:55] Alexander-Taran commented on #63
@dmoebius
You probably use npm and you have package.lock.json
Delete that file and node_modules and reinstall dependencies.

It is an npm issue

It was discussed a lot @ https://discourse.aurelia.io/
and in https://gitter.im/aurelia/Discuss

[2018-03-23 00:34] Alexander-Taran commented on #69
Well reading the https://github.com/aurelia/templating-router/blob/master/src/router-view.js revealed that it is grabbed at the moment of processing navigation instruction.
have you tried navigating to another sub-route after?

as it is now - it definitely won't change on the fly.

it is `@bindable` yes.. to be able to get it from attribute on router-view.
can think of it as one-way.

don't think

[2018-04-04 03:47] #69 closed

[2018-04-04 05:42] davismj commented on #69
This is an important issue though. I kinda take offense to the layout feature because it didn't add any new functionality. It is essentially a glorified compose (see gist). However, it has created a whole set of new, less robust code that doesn't function as expected and is difficult to maintain.

Perhaps in 2.0 we can refactor the whole feature to keep the API but leverage compose under the hood.

[2018-04-04 08:08] toonevdb commented on #69
@Alexander-Taran I tried a few different approaches.
I suspected that 2way binding wasn't supported after a while :)

@davismj Can't remember why I switched to using compose exactly but your gist is exactly how I'm handling my layout logic now. Binding a view model to the compose element. Allows for layout specific functions in the view model too.

I use a router pipeline step for authorization an

[2018-04-04 09:50] Alexander-Taran commented on #69
@davismj & @EisenbergEffect
It is most definitely the case for cookbook
If one could solve it with compose but didn't think of it.. It can be explained in a recipe.
@toonevdb could you come up with a short guide on the subject?

Using compose for layout.

use case
how to solve with compose
how it compares with layout feature
and PR it here https://github.com/aurelia-contrib/aurelia-getting-started

[2018-04-04 10:27] davismj commented on #69
Can you brief me on why people wanted layouts in the first place? I can do a write up but I have no idea how to motivate it.

[2018-04-04 10:49] Alexander-Taran commented on #69
I can only speak for myself..
For the app I was building at the time I wanted to reuse some logic
We had a master-detail scenario (navigation pane + content)
We had several "screens" with that scenario
One of the cases begged for navigation pane to be collapsible like solution explorer in VS or any other app when you can "unpin" something to occupy less real estate.

We thought that it would benef

[2018-04-04 11:29] toonevdb commented on #69
The benefit in my case was not having to write `if.bind="layout != 'blank'"` in every top level custom element we have (like breadcrumbs, menu-primary, menu-secondary, etc).

[2018-04-08 05:29] davismj commented on #26
@fkleuver excellent ideas as always, Fred.

[2018-05-29 08:54] gama410 opened #77 "Missing properties in typescript definition files"
**I'm submitting a bug report**

* **Library Version:**
1.3.1

**Please tell us about your environment:**
* **Operating System:**
irrelevant

* **Node Version:**
irrelevant

* **NPM Version:**
irrelevant

* **JSPM OR Webpack AND Version**
JSPM 0.16.32 | webpack 2.1.0-beta.17

* **Browser:**
all

* **Language:**
Typescript

**Current behavior:**

I already posted this problem I have in aurelia-depe

[2018-05-29 10:00] StrahilKazlachev commented on #77
@EisenbergEffect correct me if I'm wrong, but isn't this a `private`/`internal` *API*/*implementation detail*?

[2018-05-29 23:44] EisenbergEffect commented on #77
Yes. Definitely internal. I really wish we didn't even have those properties. Please don't count on them...

[2018-05-29 23:44] #77 closed

[2018-05-30 08:31] gama410 commented on #77
Ok thank you!

Just for my information, how can one know that a property is internal or private? In this particular case, except for the fact that it was not referenced in the d.ts, I couldn't find anything special about it (no decorator, comment or leading underscore in front of the variable name)...

And as a second question, is there a valid way for me to retrieve the parent view model of a com

[2018-05-30 08:41] gama410 commented on #77
Indeed, it would be the simplest way but I use a base view model that has to be implemented by all page components. I define the activate method in the base vm so I cannot inject things in it. I can use the Container singleton directly (Container.instance.get... )but won't I get the app container instead of the parent one? So can I be sure I will get the correct data?

[2018-05-30 09:04] davismj commented on #77
Use the created callback to grab the owning View.

On Wed, May 30, 2018, 17:41 gama410 <notifications@github.com> wrote:

[2018-05-30 14:44] gama410 commented on #77
Great, thank you!

[2018-07-03 02:56] PWKad opened #80 "Reminder to release 1.3.2"
Currently since the version is unreleased starting a new project fails because of forks for binding being created.  As I checked this is the last package that needs to be released (bootstrapper and the other ones in the skeletons can be fixed by running updates on all of the packages) so please release when you have time this week!

[2018-07-03 04:03] EisenbergEffect commented on #80
100% agree. @davismj Is it safe to release templating-router master? We need to get this out ASAP since it's causing problems.

[2018-07-03 06:33] EisenbergEffect commented on #80
Working on a release now. We think it should all be safe. Hang tight. It's on the way.

[2018-07-03 06:56] EisenbergEffect commented on #80
Released!

[2018-07-03 06:56] #80 closed

[2018-07-03 09:11] rmja commented on #80
Fantastic, things seems coherent again! Thanks @EisenbergEffect for a fast fix!

[2018-08-30 19:15] djedi opened #82 "Upgrading from 1.3.1 to 1.3.2"
Upgrading from 1.3.1 to 1.3.2 broke so many things in our project. Because of its dependencies, I would think this would be a Major Update rather than a Patch Update.

[2018-08-30 22:56] EisenbergEffect commented on #82
@djedi We apologize for the inconvenience. At the time we must not have realized this was going to cause issues. Is there anything we can do fix things for you?

[2018-08-30 23:58] davismj commented on #82
@djedi what broke?

[2018-10-12 10:45] Alexander-Taran commented on #82
Can be closed

[2018-10-12 15:06] #82 closed

[2019-04-17 07:35] bigopon commented on #61
With latest changes, the interface of `RouteHref` would be:
[code]
I think this can be closed @deap82 @EisenbergEffect

[2019-04-17 15:57] #61 closed

[2019-08-01 12:59] RomkeVdMeulen commented on #57
This problem still persists. Has there been any progress? Has this been solved in vNext?

[2019-08-01 23:39] EisenbergEffect commented on #57
Pinging @davismj for an update on vCurrent
And @jwx for vNext

[2019-12-05 11:02] RomkeVdMeulen commented on #57
Pinging @davismj and @fkleuver again for an update on this long standing issue.

[2019-12-05 15:36] fkleuver commented on #57
I'd be reluctant to try to fix this in v1 right now, out of fear of introducing breaking changes that the tests may not catch.

I've added this issue to the v2 backlog to make sure we at least solve it there.

[2020-04-05 22:27] nick-janda commented on #49
@AbraaoAlves  I see there was a pull request to fix this, but it seems that it only works when the html-only component is in the root where app.js is, but doesn't appear to work when in a child folder.  Is there a reason why a html-only custom element in a child folder won't work here?

[2022-02-23 23:43] kevmeister68 opened #127 "How to access RouterViewLocator -- not exported in the built code?"
Having read about RouterViewLocator, we want to experiment with it in our application but the class is not exported in the built module.

My understanding is that we'd have to Dependency Inject the RouterViewLocator into our view-model, but I cannot import it from aurelia-templating-router.

Am I going about this the entirely wrong way, or is there an oversight to export that class in aurelia-temp

[2022-02-25 04:35] lrech commented on #127
As part of our experimenting we've updated aurelia-templating-router.ts to export `RouterViewLocator`. This has allowed us to access the `RouterViewLocator` from the injected `Container`. We then use `findNearest()` to get our `RouterView`.

Here's an example code snippet of our intended usage:

[code]

Is this an appropriate use of the `RouterViewLocator` if it were exported?

[2022-03-15 20:45] bigopon commented on #127
@lrech the router view locator `findNearest` is a single use call (there's only a single locator for the whole application). How are you experiementing it? We can export it if that makes it easier to workaround in applications, though Im curios.

[2022-03-31 05:02] lrech commented on #127
Hi @bigopon,
To further explain what we are trying to achieve by using the `RouterViewLocator` our scenario is this.

Our Dialog class (basically a View) will often not acquire its own element through `@inject()`, so we have been providing an appropriate element (the <router-view> element) to the Dialog that our events can use to perform tasks (a common one is for a whole-of-Dialog key-down handle

[2022-04-03 00:17] bigopon commented on #127
@lrech this module entry:
[code]

There are not a lot going on here. And the main thing is around this line
[code]
I think you can come with your custom plugin configure to register your own `TemplatingRouteLoader` like this:

[code]

and in your `main.ts`:
[code]

---

That said, we probably will also be exporting the `TemplatingRouteLoader`.

[2022-04-03 00:21] bigopon commented on #127
@lrech actually I read it wrong, it's the `RouteViewLocator`, sorry. And I meant we probably will be exporting that.

[2022-04-05 03:57] lrech commented on #127
@bigopon, what are the next steps for this issue. I'm happy to submit a pull request for the export change. However the link to the CLA document appears to be broken [CLA](http://goo.gl/forms/dI8QDDSyKR) from Contributing document. Or I can attached the updated aurelia-templating-router.ts file here.

[2022-04-05 06:50] bigopon commented on #127
@lrech I'll be making that chang, no worries. Since there' other updates needed as well.

[2022-04-12 11:40] #127 closed

[2022-04-12 11:57] bigopon commented on #127
The `RouterViewLocator` has been exposed. In order to register application own implementation, do:
[code]

The interface of any `RouterViewLocator` implementation should conform:
[code]

[2022-04-12 16:10] michaelbull opened #130 "ViewSlot error on 1.5.0"
**I'm submitting a bug report**

* **Library Version:**
1.5.0

* **Node Version:**
14.19.0

* **NPM Version:**
6.14.16

* **JSPM OR Webpack AND Version**
Webpack 5

* **Browser:**
all

* **Language:**
all

**Current behavior:**

The latest release, 1.5.0, seems to completely break my app. The following stacktrace occurs:

[code]

[2022-04-12 23:06] bigopon commented on #130
@michaelbull you are reporting an issue related to `templating` in `templating-router` repo. So I guess:
- your app upgraded to `templating@1.11.1` just fine?
- then your app crashes when upgraded `templating-router@1.5.0`?

Can you also run
[code]

to see if there's any duplication of modules?

[2022-04-12 23:18] michaelbull commented on #130
The version of templating is just derived from one of the other aurelia dependencies (I'm guessing bootstrapper?)

Here is the **non-working version** of `aurelia-templating`:

[code]

---

Explicitly installing v1.4.0 of `aurelia-templating-router` entirely fixes this problem. Here is the output of `npm ls aurelia-templating` with this **working version** installed:

[code]

[2022-04-13 00:02] bigopon commented on #130
@michaelbull I think you are getting 2 different versions of templating with `1.5.0`
![image](https://user-images.githubusercontent.com/9994529/163073673-05696068-0b62-4ec7-9be0-4a75fb78e1fb.png)

can you explicitly install the latest version of `templating` & `templating-router` together?

[2022-04-13 14:59] michaelbull commented on #130
I can confirm that with `aurelia-templating-router@1.5.0` & `aurelia-templating@1.11.1` it does indeed work.

This must mean that anyone that installs the latest `aurelia-bootstrapper` with `aurelia-ui-virtualization` is going to hit this problem though surely? This would indicate that they are depending on dynamic versions of `aurelia-templating` and some breaking change has occurred and has been

[2022-04-13 15:22] bigopon commented on #130
@michaelbull yes that's unfortunately will be the case. One does not need to pin everything though, probably only need to pin the 2 most important one: `aurelia-binding` and `aurelia-templating`. It probably should suffice. I'm not sure how else this issue can be solved.

[2022-04-13 15:23] bigopon commented on #130
for `aurelia-binding`, apps generated from our cli will have it aliased to the top level module in `node_modules` and it will work. Maybe we should do the same thing for `aurelia-templating`?
cc @3cp

[2022-04-13 15:24] michaelbull commented on #130
May I ask why a breaking change was pushed without incrementing the major version? That's the crux of this issue. If all of
To clarify, both `aurelia-templating-router` and `aurelua-ui-virtualization` are **first-party** Aurelia projects. These projects are written with dynamic versions indicating that they can be updated as long as the major doesn't change, then surely the major version should be

[2022-04-13 15:28] bigopon commented on #130
If
- `aurelia-templating-router@1.5.0` requires `aurelia-templating@^1.11.1`, and
- `aurelia-ui-virtualization@any` requires `aurelia-templating@^1.8.0`

then installing `aurelia-templating-router@1.5.0` should bring the common dependency `aurelia-templating` to `1.11.1`. Shouldn't this be the expectation (or did I miss what the point in your question)?

[2022-04-13 15:35] michaelbull commented on #130
That is not my expectation as I do not have an explicit dependency on `aurelia-templating-router`.

I have the following in my 'shared' project (which acts as a base for all Aurelia apps within my company):

[code]

Then in my individual apps I have:

[code]

Last week this worked. This week, because of the versions not being explicit, I run `npm install` without changing **a single one** of these

[2022-04-13 15:51] bigopon commented on #130
This part

confused me. My understanding is `npm install` should resolve to a single, latest version of templating.

I'll assume this is a rhetorical question, and you can explain why `npm install` behaved in such way. So if you can give some comment explaining that, it'd be great.

For `a breaking change has been made in one of these libraries without bumping a major version`: there's been one br

[2022-04-13 15:59] bigopon commented on #130
Regardless of this discussion, I'm upgrading all the core libs to be pointing at the latest version of templating/templating-resources/framework to resolve the mentioned security issue. Future installation shouldn't cause any issues.

[2022-04-13 16:08] michaelbull commented on #130
Yes, I agree because the version of templating that I am pulling from bootstrapper or whever is dynamic and will take the latest 1.x version.

I was trying to explain the original question that you asked if it matches my expectation.

This answers my question.

All of the Aurelia projects have dynamic dependency versions on "1.x" of others, which means consumers will just auto-upgrade when running

[2022-04-13 23:45] 3cp commented on #130
The duplicated version sounds like from an existing lock file. Once you remove all node_modules and lock file, the version should be resolved to just one.

[2022-04-24 10:50] bigopon commented on #130
It seems there are 2 matters being conflated here:
- There's an issue by simply upgrading a core Aurelia module. Maybe applications need to declare common dependencies themselves to ensure this issue not happening again. It's not a direct issue with Aurelia.
- There's an inaccurate versioning recently in one of the Aurelia core module releases. This is because the changes isn't practically breakin

[2022-04-24 10:50] #130 closed, assigned to nobody